h2{
  font-family: Copperplate Gothic 32 BC;
}
.home{
  background-image: url("picture 1.jpg");
  background-size: cover;
  background-position: center;
  height: 95vh;
}


.home h2{
  text-align: center;
}

.home h3{
  text-align: center;
}










/*Menu file*/
.menu-text{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
  color: black;
}


.menu-image{
  background-image: url("picture 3.jpeg");
  filter: blur(5px);
  background-size: cover;
  background-position: center;
  height: 95vh;
  width:100%;
  position:absolute;
  inset: 0;

}









/*about page (description of the cafe)*/
.about{
  background-image: url("picture 2.jpg");
  background-size: cover;
  background-position: center;
  height: 95vh;
}

h1{
  text-align: center;
}


/*header tag in general*/
header{
  text-align: center;
  position: relative;
  z-index: 10;
  color:white;
  font-size: 18px;
}

.header-box{
  background-color: lightgrey;
  padding: 20px;
  display: inline-block;
  border-radius:15px;
}





/* team.html: for team members*/
.team-container {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.team-member {
  text-align: center;
}