/*header tag in general*/
header{
  text-align: center;
  position: relative;
  z-index: 10;
  color:white;
  font-size: 18px;
  padding:5px;
}

.header-box{
  background-color: lightgrey;
  padding: 20px;
  display: inline-block;
  border-radius:15px;
}



h2{
  font-family: Copperplate Gothic 32 BC;
}




/*home page!!!!*/
.home{
  background-image: url("picture 1.jpg");
  background-size: cover;
  background-position: center;
  height: 95vh;
}

.home{
  background-image: url("picture 1.jpg");
  background-size: cover;
  background-position: center;
  height: 88vh;
}

.home h2{
  text-align: center;
  font-family: "Science Gothic", sans-serif;
  font-size:85px;
  font-weight: bold;
  color: white;
  text-shadow: 5px 10px 9px #000000;
  position:absolute;
  left: 30%;
  top:33%;
}

.home h3{
    text-align: center;
  font-family: "Science Gothic", sans-serif;
  font-size:25px;
  color: white;
  font-style:italic;
  position:absolute;
  top:52%;
  left:34%;
  animation: fadeIn 1.9s ease-in-out;
}

/*annimation:*/
@keyframes fadeIn{
  from{    
  opacity: 0;  
  } 
  to{
    opacity: 1;
  }
}











/*Menu file*/
.menu-text{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
  color: black;
}


.menu-image{
  background-image: url("picture 3.jpeg");
  filter: blur(5px);
  background-size: cover;
  background-position: center;
  height: 95vh;
  width:100%;
  position:absolute;
  inset: 0;

}







/*about page (description of the cafe)*/
.about{
  background-image: url("picture 2.jpg");
  background-size: cover;
  background-position: center;
  height: 95vh;
}

h1{
  text-align: center;
}













/* team.html: for team members*/
.team-container {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.team-member {
  text-align: center;
}