/*CSS for responsive menu demo*/
:root{
  --nav-height: 3rem;
  --nav-bkgd-color: grey;
  --nav-text-color: white;
  --nav-hover-bkgd-color: lightgrey;
  --nav-hover-text-color: black;
}

*{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
}

nav{
  position: absolute;
  top: 0;
  left:0;
  width: 100%;
  height: var(--nav-height);
  background-color: var(--nav-bkgd-color);

}

#navBurger{
  position: relative;
  display: block;
  font-size: 2rem;
  color: var(--var-text-color);
  padding: 0.1rem 0 0 0.3em;
  max-height: 2rem;
}

nav ul{
  position: relative;
   background-color: var(--nav-bkgd-color);
   list-style: none;
   margin: 0;
   padding: 0;
}

nav > ul {
  position: relative;
  background-color: var(--nav-bkgd-color);
  list-style: none;
  margin: 0;
  padding: 0;
}

nav > ul > li{
  position: relative;
  background-color: var(--nav-bkgd-color);
  display: block;
  margin: 1rem;
}

nav > ul > li{
  display: block;
  width:100%;
  height: 100%
  padding: 0.5rem;
}