img {
  width: 100%;  /* make image smaller */
  border-radius: 10px; /* round corners */
}


section{
  height: 100vh;
  background-position: center;
  text-align: center;
}

h2{
  font-family: sans-serif;
  font-size:100px;
}

.bg1{
  background-image: url(night 1.jpeg);
}