#Stars{
  width: 500px;
  height: 80vh;
  border: 10px solid black;
  overflow: auto; /* visible, auto, scroll, hidden  */  
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory; /* direction (x, y, or both) + type (mandatory or proximity) */
}

#Stars img{
  width: 100%;
  scroll-snap-align: start;
}

#Stars h2{
  font-size: 40px;
}