
@media (max-width: 600px) {
  body{
    padding: 20px;
  }
  h1{
    font-size: 1.2rem;
  }
  li{
    padding: 10px;
  }
}


body{
  font-family: Arial, sans-serif;
  background: #f1f1f1;
  margin: 0 auto;
  max-width: 800px;
  padding: 40px 20px;
}
h1{
  font-size: 3.4rem;
}
ul{
  list-style: none;
  padding: 0;
}
li{
  background: white;
  padding: 12px 16px;
  border-radius: 4px;
}
a{
  color:#4b4b4b;
  text-decoration: none;
  font-weight: 500;
}
a:hover{  
  color: #000;
  text-decoration: underline;
}

body{
  max-width: 800px;
  margin: auto;
  font-family: Arial, sans-serif;
}