:root {
    --cardSize: 200px;
    /* variable for card dimensions */
}

.card {
    position: relative;
    width: var(--cardSize);
    height: var(--cardSize);
    perspective: 500px;
    /* special CSS property relevant to 3D flips */
}

.cardContent {
    position: absolute;
    /* positioning within the parent card object */
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
    transform-style: preserve-3d;
    /* special CSS property relevant to 3D flips */
}

.card:hover .cardContent {
    transform: rotateY(180deg);
    /* simulate a 3D flip */
}

.cardTop,
.cardBottom {
    position: absolute;
    /* positioning within the parent cardContent object */
    text-align: center;
    height: 100%;
    width: 100%;
    border: 2px solid darkblue;
    font-size: 42px;
    backface-visibility: hidden;
    /* special CSS property relevant to 3D flips */
}

.cardTop {
    background-color: darkblue;
    color: #eee;
}

.cardBottom {
    background-color: #eee;
    color: darkblue;
    transform: rotateY(180deg);
    /* pre-flip so it appears on parent's flip */
}