/*Styles for Weather app*/

*{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

main{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color:darkgray;
}

