/*Styles for Weather app*/

:root {
    --predictionBoxWidth: 30vw;
    --predictionBoxHeight: 30vh;
}

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

main {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: lightgray;

    display: grid;
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 50vh 30vh 20vh;
    grid-template-areas:
        'currentInfo        currentInfo'
        'currentHumidity    currentWind'
        'future             future';
}

#currentInfo {
    position:relative;
    grid-area: currentInfo;
    background-color: salmon;
    border-bottom: 1px solid white;
}

#currentTemp{
    position: absolute;
    font-size: 5rem;
    left: 1rem;
}

#currentStatus{
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    bottom: 2rem;
    font-size: 1.2 rem;
}

#currentHumidity,
#currentWind {
    display: flex;
    align-items: center;
}


/**************************** CURRENT HUMIDITY **********************************/
#currentHumidity{
    position:relative;
    grid-area: currentHumidity;
    background-color: lightblue;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
}

/**************************** CURRENT WIND **********************************/
#currentWind{
    position:relative;
    grid-area: currentWind;
    background-color: darkgrey;
    border-bottom: 1px solid white;

}

/**************************** FURURE PREDICTION **********************************/
#futureInfo{
    position: relative;
    grid-area: future;
    background-color: lightgoldenrodyellow;
    overflow: auto;
    overflow-y: hidden;
    white-space: nowrap;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.futureDay{
    position: absolute;
    width: var(--predictionBoxWidth);
    height: var(--predictionBoxHeight);
    top: 1rem;
    left: 1rem;
}

.futureDay:nth-child(2){
    left: var(--predictionBoxWidth);
}

.futureDay:nth-child(3){
    left: calc(var(--predictionBoxWidth) * 2 );
    border-right: none;

}

#currentHumidity, 
#currentWind,
#futureInfo{
    padding: 1rem;
}



/**************************** MOBILE SCREEN **********************************/

@media screen and (orientation: landscape) {

    :root {
        --predictionBoxWidth: 30vw;
        --predictionBoxHeight: calc( 100vh / 3 );
    }

    main {
        grid-template-columns: 60vw 40vw;
        grid-template-rows: var(--predictionBoxHeight) var(--predictionBoxHeight) var(--predictionBoxHeight);
        grid-template-areas:
        'currentInfo        currentInfo'
        'currentHumidity    currentWind'
        'future             future';
    }

    #currentInfo {
        border-bottom: none;
        border-right: 1px solid white;
    }
}