/*Styles for Weather app*/

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

main {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: lightgray;

    display: grid;
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 50vh 30vh 20vh;
    grid-template-areas:
        'currentInfo        currentInfo'
        'currentHumidity    currentWind'
        'future             future';
}

#currentInfo {
    position:relative;
    grid-area: currentInfo;
    background-color: salmon;
}

#currentTemp{
    position: absolute;
    font-size: 5rem;
}

#currentStatus{
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    bottom: 2rem;
}


/**************************** CURRENT HUMIDITY **********************************/
#currentHuidity{
    position:relative;
    grid-area: currentHumidity;
    background-color: lightblue;
}

/**************************** CURRENT WIND **********************************/
#currentWind{
    position:relative;
    grid-area: currentWind;
    background-color: darkgrey;
}

/**************************** FURURE PREDICTION **********************************/
#futureInfo{
    grid-area: future;
    background-color: lightgoldenrodyellow;
    overflow: auto;
    overflow-y: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.futureDay{
    position: absolute;
    width: var(--predictionBoxWidth);
    height: 30vh;
}

.futureDay:nth-child(2){
    left: var(--predictionBoxWidth);
}

.futureDay:nth-child(2){
    left: var(--predictionBoxWidth) * 2;
}

/**************************** MOBILE SCREEN **********************************/

@media screen and (orientation: landscape) {

    :root {
        --predictionBoxWidth: 30vw;
        --predictionBoxHeight: calc( 100vh / 3 );
    }

    main {
        grid-template-columns: 60vw 40vw;
        grid-template-rows: var(--predictionBoxHeight) var(--predictionBoxHeight) var(--predictionBoxHeight);
        grid-template-areas:
            'currentInfo    currentHum'
            'currentInfo    currentWind'
            'currentInfo    future';
    }

    #currentInfo {
        border-bottom: none;
        border-right: 1px solid white;
    }
}